@import "variables";
/********************
    EXTENDS
*********************/

//content
%content {
  max-width: $content-width;
  width: 95%;
  margin: auto;
}

//box
%box {
  display: flex;
}

%vertical-box {
  display: flex;
  flex-direction: column;
}

%centering-box {
  @extend %vertical-box;
  justify-content: center;
  align-items: center;
  align-content: center;
}

//transition
%transition {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

%ease {
  transition-timing-function: ease-in-out;
}

%slow {
  transition-duration: 0.75s;
}

%fast {
  transition-duration: 0.25s;
}

%test {
  transition-duration: 2s;
}

//hover
%hover {
  @extend %transition;
  &:hover {
    background-color: $color-hover;
  }
}

%nav-hover {
  @extend %hover;
  @extend %ease;
  border-radius: 5px;
}

%showcase-hover {
  @extend %hover;
  i {
    @extend %transition;
  }
  &:hover {
    i {
      color: $color-light;
    }
  }
}

%section-hover {
  article.section-head {
    //Set transition
    a.chevron {
      @extend %transition;
      i {
        @extend %transition;
      }
    }

    // Set foreground
    a.chevron.up:hover {
      background-color: $color-light;
      i {
        color: $color-dark;
        transform: rotate(360deg);
      }
    }

    a.chevron.down:hover {
      i {
        transform: rotate(360deg);
      }
    }
  }

  // Set background
  &:nth-of-type(1) {
    article.section-head {
      a.chevron.down:hover {
        // background-color: $color-theme-btn;
      }
    }
  }
}
