@import "variables";
/********************
    EXTENDS
*********************/

//content
%content {
  max-width: $content-width;
  width: 95%;
  margin: auto;
}

//box
%box {
  display: flex;
}

%vertical-box {
  display: flex;
  flex-direction: column;
}

%centering-box {
  @extend %vertical-box;
  justify-content: center;
  align-items: center;
  align-content: center;
}

//transition
%transition {
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

%ease {
  transition-timing-function: ease-in-out;
}

%slow {
  transition-duration: 0.75s;
}

%fast {
  transition-duration: 0.25s;
}

%test {
  transition-duration: 2s;
}

//hover
%nav-hover {
  @extend %transition;
  @extend %ease;
  border-radius: 5px;
  &:hover {
    background-color: $color-hover;
  }
}
