/********************
    VARIABLES
*********************/

// size
$content-width: 1280px;
$showcase-height: fit-content;
$header-footer-height: 89.5vh;
$grid-gap: 10px;

// font
$font-stack: "Dosis", sans-serif;
$logo-size: 1.75rem;
$footer-icon-size: 1.75rem;
$nav-item-size: 1rem;
$heading-l: 3rem;
$heading-m: 2.5rem;
$heading-s: 2rem;
$txt-l: 1.25rem;
$txt-m: 1.2rem;
$txt-s: 1.1rem;
$chevron-size: 1.5rem;
$star-l: 0.85rem;
$star-m: 0.75rem;

// color
$color-dark: #202020;
$color-dark-secondary: #262626;
$color-text: #6f6f6f;
$color-text-footer: #ffffff93;
$color-light: #ffffff;
$color-underline: #d4d4d4;
$color-theme: #ff000066;
$color-theme-btn: #ff656545;
$color-theme-secondary: #00ff004a;
$color-theme-btn-secondary: #57ff5738;
$color-theme-txt-secondary: #00ff0066;
$color-theme-tertiary: #0000ff6b;
$color-theme-btn-tertiary: #3c3cff73;
$color-theme-quarternary: #00ffce66;
$color-theme-btn-quarternary: #00ffce4c;
$color-theme-txt-quarternary: #00ffce99;
$color-theme-quinary: #4500ff66;
$color-theme-btn-quinary: #6f39ff66;
$color-theme-txt-quinary: #845def;
