@import "variables";

// Set foreground
a.chevron.up:hover {
  transform: rotate(180deg) scale(0.9) translateX(-3px) !important;
}
a.chevron.down:hover {
  transform: scale(0.9) translateX(-3px) !important;
}
/********************
    MAIN
*********************/
main {
  /********************
    SECTIONS
  *********************/
  div#sections {
    section {
      /********************
        SECTION HEAD
      *********************/
      article.section-head {
        h2 {
          font-size: $heading-s;
          padding-bottom: 1rem;
        }

        div.btn-container {
          position: relative;
          flex-direction: initial;

          a.btn {
            width: 3.5rem;
          }
        }
      }
      /********************
        SECTION BODY
      *********************/
      article.section-body {
        div.card {
          padding: 1rem 0.75rem 1rem 1rem;
          h3,
          p {
            font-size: $txt-s;
          }
        }
      }

      //Body section: Skills
      &:nth-of-type(4) {
        article.section-body {
          div.card {
            padding-left: 4vw;
            padding-right: 4vw;

            div.skills {
              div.skill {
                div.stars {
                  i {
                    font-size: $star-m;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
