@import "variables";
@import "extends";

/********************
    UTILITY
*********************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $color-dark;
  color: $color-light;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  text-align: center;
  display: inline-block;
  width: 7rem;
  padding: 0.6rem 0;
  background-color: $color-light;

  &.chevron {
    i {
      font-size: $chevron-size;
      color: $color-dark;
    }

    &.up {
      transform: rotate(180deg);
    }
  }
}

/********************
    HEADER
*********************/
header {
  @extend %content;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $color-dark;
  nav {
    padding: 1rem 0;
    @extend %box;
    justify-content: space-between;

    a {
      p#logo {
        color: $color-light;
        font-size: $logo-size;
        font-weight: 700;
      }
    }
    ul {
      width: 25rem;
      @extend %box;
      justify-content: space-between;
      li {
        a {
          color: $color-light;
          p {
            font-size: $nav-item-size;
          }
        }
      }
    }

    div.hamburger {
      display: none;
      position: relative;
    }

    div.overlay {
      @extend %centering-box;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
      width: 100vw;
      height: 100vh;
      div.sphere {
        @extend %centering-box;
        opacity: 0;
        position: absolute;
        background-color: $color-light;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0, 0, 0, 1);
        width: 0;
        height: 0;
        border-radius: 50%;

        a {
          padding: 0.5rem;
          color: $color-dark;
          font-size: $txt-l;
        }
      }
    }
  }
}

/********************
    MAIN
*********************/
main {
  @extend %content;

  div.centering-container {
    @extend %centering-box;
    height: $header-footer-height;
    div#showcase {
      h1 {
        font-size: $heading-l;
        font-weight: 500;
        margin-bottom: 1.5rem;
      }
    }
  }

  /********************
    SECTIONS
  *********************/
  div#sections {
    display: grid;
    grid-gap: $grid-gap;
    section {
      height: $showcase-height;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $grid-gap;

      /********************
        SECTION HEAD
      *********************/
      article.section-head {
        @extend %centering-box;
        position: relative;
        h2 {
          font-size: $heading-l;
          font-weight: 100;
          text-align: center;
        }

        div.btn-container {
          position: absolute;
          left: 0;
          @extend %vertical-box;
          justify-content: center;

          a.down {
            i {
              color: $color-light;
            }
          }
        }
      }

      // Section heads right buttons
      &:nth-of-type(2),
      &:nth-of-type(4) {
        article.section-head {
          div.btn-container {
            left: initial;
            right: 0;
          }
        }
      }

      //Section heads specific
      &:nth-of-type(1) {
        article.section-head {
          height: 45vw;
          background-color: $color-theme;
          a.down {
            background-color: $color-theme-btn;
          }
        }
      }
      &:nth-of-type(2) {
        article.section-head {
          background-color: $color-theme-secondary;
          a.down {
            background-color: $color-theme-btn-secondary;
          }
        }
      }
      &:nth-of-type(3) {
        article.section-head {
          background-color: $color-theme-tertiary;
          a.down {
            background-color: $color-theme-btn-tertiary;
          }
        }
      }
      &:nth-of-type(4) {
        article.section-head {
          background-color: $color-theme-quarternary;
          a.down {
            background-color: $color-theme-btn-quarternary;
          }
        }
      }
      &:nth-of-type(5) {
        article.section-head {
          background-color: $color-theme-quinary;
          a.down {
            background-color: $color-theme-btn-quinary;
          }
        }
      }

      /********************
        SECTION BODY
      *********************/
      article.section-body {
        display: grid;
        grid-gap: $grid-gap;
        color: $color-text;
        div.card {
          @extend %vertical-box;
          justify-content: center;
          width: 100%;
          padding: 1.5rem 1rem 1.5rem 1.5rem;
          background-color: $color-dark-secondary;

          h3,
          p {
            font-size: $txt-l;
            font-weight: 400;
          }

          h3.heading-theme {
            color: $color-theme-txt-secondary;
            margin-bottom: 0.25rem;
          }

          h3.heading-highlight {
            color: $color-light;
          }

          p {
            margin-bottom: 0.5rem;
          }
        }
      }

      //Body section: About
      &:nth-of-type(1) {
        article.section-body {
          img {
            width: 3.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }

      //Body section: Career
      &:nth-of-type(2) {
        article.section-body {
          grid-template-rows: auto auto;
        }
      }

      //Body section: Skills
      &:nth-of-type(4) {
        article.section-body {
          background-color: $color-dark-secondary;
          div.card {
            padding-right: 5vw;
            padding-left: 5vw;
            max-width: $content-width/2 - $grid-gap/2;
            margin: auto;
            div.skills:not(:last-of-type) {
              padding-bottom: 5px;
              margin-bottom: 10px;
            }

            div.skills {
              h3.heading-theme {
                color: $color-theme-txt-quarternary;
              }

              div.skill {
                @extend %box;
                justify-content: space-between;

                div.stars {
                  i:not(.off) {
                    color: #ff9300a1;
                  }

                  i.off {
                    color: #6f6f6f73;
                  }
                }
              }
            }
          }
        }
      }

      //Body section: Achievements
      &:nth-of-type(5) {
        margin-bottom: $grid-gap;
        article.section-body {
          div.card {
            h3.heading-theme {
              color: $color-theme-txt-quinary;
            }
          }
        }
      }
    }
  }
}

/********************
    FOOTER
*********************/
footer {
  @extend %content;
  @extend %vertical-box;
  justify-content: flex-end;
  margin-bottom: $grid-gap;
  padding: 2rem;
  height: $header-footer-height;
  background: url(../img/footer-image.jpg);
  background-size: cover;
  background-position: 0 48.5%;
  color: $color-text-footer;

  div {
    width: fit-content;
    p {
      text-transform: uppercase;
      font-weight: 400;
    }
    div#social-links {
      @extend %box;
      width: 90%;
      justify-content: space-between;
      padding: 0.75rem 0;

      a {
        i {
          color: $color-text-footer;
          font-size: $footer-icon-size;
        }
      }
    }
  }
}
