@import "extends";

header {
  nav {
    // flex-direction: column !important;

    a {
      p#logo {
        // text-align: center;
        // padding-bottom:1rem;
      }
    }

    ul {
      display: none;
    }

    div.hamburger {
      display: block;
      width: fit-content;
      input {
        display: none;
        &:checked + label {
          div.line {
            transform: translateY(7px) rotate(45deg) scale(1.1);
            &:before {
              top: 0px;
              // opacity: 0;
              transform: rotate(-0deg);
            }
            &:after {
              top: 0px;
              transform: rotate(-270deg);
            }
          }
        }
      }
      label {
        margin-top: 0.5rem;
        margin-right: 1rem;
        height: 1.25rem;
        width: 1.25rem;
        @extend %box;

        div.line {
          transition-property: all;
          transition-duration: .125s;

          transition-timing-function: ease-in-out;
          background-color: $color-light;
          height: 2px;
          width: 1.25rem;
          position: relative;

          &:before {
            transition-property: all;
            transition-duration: .25s;

            transition-timing-function: ease-in-out;
            content: "";
            background-color: $color-light;
            height: 2px;
            width: 1.25rem;
            position: absolute;
            top: 7px;
          }

          &:after {
            transition-duration: .5s;

            transition-property: all;
            transition-timing-function: ease-in-out;
            content: "";
            background-color: $color-light;
            height: 2px;
            width: 1.25rem;
            position: absolute;
            top: 14px;
          }
        }
      }
    }
  }
}
