@import "extends";

header {
  nav {
    ul {
      display: none;
    }

    div.hamburger {
      display: block;
      z-index: 10;
      width: fit-content;
      input {
        display: none;
        &:checked + label {
          div.line {
            background-color: $color-dark;

            transform: translateY(7px) rotate(45deg) scale(1.1);
            &:before {
              top: 0px;
              background-color: $color-dark;

              // opacity: 0;
              transform: rotate(-0deg);
            }
            &:after {
              top: 0px;
              background-color: $color-dark;

              transform: rotate(-270deg);
            }
          }

          & + div.overlay {
            div.sphere {
              width: 150vh;
              opacity: 0.9;
              height: 150vh;
              a:active {
              }
            }
          }
        }
      }
      label {
        margin-top: 0.5rem;
        margin-right: 1rem;
        height: 1.25rem;
        width: 1.25rem;
        @extend %box;

        div.line {
          transition-property: all;
          transition-duration: 0.125s;

          transition-timing-function: ease-in-out;
          background-color: $color-light;
          height: 2px;
          width: 1.25rem;
          position: relative;

          &:before {
            transition-property: all;
            transition-duration: 0.25s;

            transition-timing-function: ease-in-out;
            content: "";
            background-color: $color-light;
            height: 2px;
            width: 1.25rem;
            position: absolute;
            top: 7px;
          }

          &:after {
            transition-duration: 0.5s;

            transition-property: all;
            transition-timing-function: ease-in-out;
            content: "";
            background-color: $color-light;
            height: 2px;
            width: 1.25rem;
            position: absolute;
            top: 14px;
          }
        }
      }
    }
  }
}
